/* Variables */
$black: #121212;
$wihte: #ffffff;
$gray: #d0d2cf;
$purple: #b2a1ff;
$green: #a4f5a6;
$yellow: #fadc46;
$box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
/* Typography */ /* default font is Space Grotesk */
$default-line-height: 1.6;
$default-font-size: 16px;

h1 {
  font-size: calc($default-font-size * 3.8154);
  line-height: calc($default-line-height * $default-font-size * 3.8154);
  font-family: var(--font-outfit);
  font-weight: 700;
  letter-spacing: calc($default-font-size * 3.8154 * -0.05);
}

h2 {
  font-size: calc($default-font-size * 3.0527);
  line-height: calc($default-line-height * $default-font-size * 3.0527);
  font-family: var(--font-outfit);
  font-weight: 700;
  letter-spacing: calc($default-font-size * 3.0527 * -0.04);
}

h3 {
  font-size: calc($default-font-size * 2.4414);
  line-height: calc($default-line-height * $default-font-size * 2.4414);
  font-family: var(--font-outfit);
  font-weight: 600;
  letter-spacing: calc($default-font-size * 2.4414 * -0.03);
}

h4 {
  font-size: calc($default-font-size * 1.9531);
  line-height: calc($default-line-height * $default-font-size * 1.9531);
  font-family: var(--font-outfit);
  font-weight: 600;
  letter-spacing: calc($default-font-size * 1.9531 * -0.02);
}

h5 {
  font-size: calc($default-font-size * 1.5625);
  line-height: calc($default-line-height * $default-font-size * 1.5625);
  font-family: var(--font-outfit);
  font-weight: 500;
  letter-spacing: calc($default-font-size * 1.5625 * -0.01);
}

h6 {
  font-size: calc($default-font-size * 1.25);
  line-height: calc($default-line-height * $default-font-size * 1.25);
  letter-spacing: calc($default-font-size * 1.25 * -0.01);
}

p {
  font-size: $default-font-size;
  line-height: calc($default-line-height * $default-font-size);
  letter-spacing: calc($default-font-size * 1.25 * 0.05);
}

b {
  font-size: $default-font-size;
  line-height: calc($default-line-height * $default-font-size);
  font-weight: 600;
  letter-spacing: calc($default-font-size * 1.25 * 0.05);
}

.sp {
  font-size: 11px;
  line-height: calc($default-line-height * 11px);
  letter-spacing: calc(11px * 0.05);
}

.xsp {
  font-size: 7px;
  line-height: calc($default-line-height * 7px);
  letter-spacing: calc(7px * 0.05);
}

/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-space-grotesk);
  font-size: $default-font-size;
  line-height: $default-line-height;
  color: $wihte;
  overflow-x: overlay;
}

ul {
  list-style: none;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: $box-shadow;
  background: rgba($yellow, 0.9);
  color: $wihte;
  font-family: var(--font-space-grotesk);
  font-size: $default-font-size;
  line-height: calc($default-line-height * $default-font-size);
  font-weight: 600;
  letter-spacing: calc($default-font-size * 1.25 * 0.05);
  cursor: pointer;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.gray {
  color: $gray;
}

/* Navbar */

nav {
  width: 100dvw;
  max-width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  .logo {
    cursor: pointer;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    li {
      cursor: pointer;
      &:hover {
        color: $yellow;
      }
    }
  }
}

/* Main page */

.Main {
  min-height: 100dvh;
  width: 100vw;
  max-width: 100%;
  background: $black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    h1 {
      display: flex;
      gap: 10px;
    }
  }
  .images {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    z-index: 1;
    background: $black;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
    border-bottom: 1px solid rgb(38, 38, 38);
    .row1,
    .row2,
    .row3 {
      display: flex;
      flex-direction: column;
      gap: 26px;
      li {
        position: relative;
        .image {
          border-radius: 5px;
          box-shadow: $box-shadow;
        }
        .author {
          position: absolute;
          bottom: -17.6px;
          text-align: end;
          width: 100%;
        }
        .hoverelement {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          background: rgba(0, 0, 0, 0.3);
          backdrop-filter: blur(4px);
          cursor: pointer;
          opacity: 0;
          transition: 0.2s opacity;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: $wihte;
          text-decoration: none;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .row1 {
      width: 27vw;
    }
    .row2 {
      width: 31vw;
    }
    .row3 {
      width: 36vw;
    }
  }
}

/* Footer */

footer {
  width: 100vw;
  max-width: 100%;
  background: #1c1c1c;
  height: 250px;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  position: sticky;
  background-image: radial-gradient(rgb(38, 38, 38) 1px, transparent 0);
  background-size: 40px 40px;
  padding: 4rem 10rem;
  ul {
    display: flex;
    justify-content: space-between;
    .row1 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .wraper {
        display: flex;
        align-items: center;
        gap: 15px;
        .name {
          font-family: var(--font-space-grotesk);
          font-size: 20px;
        }
        .version {
          padding: 5px 10px;
          border-radius: 15px;
          border: 2px solid $yellow;
          color: $yellow;
          width: fit-content;
        }
      }
      .lastUpdate {
        color: rgb(82, 82, 91);
      }
    }
    .row2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .linkContainer {
        .link {
          font-size: $default-font-size;
          line-height: calc($default-line-height * $default-font-size);
          letter-spacing: calc($default-font-size * 1.25 * 0.05);
          color: $wihte;
          text-decoration: none;
          background-image: linear-gradient(
            90deg,
            hsla(0, 0%, 100%, 0.4) 50%,
            transparent 0
          );
          background-position: 0 18px;
          background-repeat: repeat-x;
          background-size: 4px 2px;
          padding: 0 3px;
          &:hover {
            color: $yellow;
            background-image: linear-gradient(
              90deg,
              $yellow 50%,
              transparent 0
            );
            background-color: rgba($yellow, 0.2);
          }
        }
        sup {
          font-size: 11px;
          color: $yellow;
          font-weight: 700;
        }
      }
    }
  }
  .bottomline {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgb(82, 82, 91);
    max-width: 100%;
    overflow: hidden;
    text-wrap: nowrap;
  }
}

.Addyourpage {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  z-index: 2;
  background: rgba($wihte, 0.05);
  form {
    width: 600px;
    height: 400px;
    background: $black;
    position: sticky;
    top: calc(50vh - 200px);
    left: calc(50vw - 300px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    b {
      position: absolute;
      top: 20px;
    }
    .Authorsection,
    .Imagesection {
      flex: 1;
      height: calc(100% - 30px);
      display: flex;
      flex-direction: column;
    }
    .Authorsection {
      gap: 5px;
      label {
        font-size: $default-font-size;
        line-height: calc($default-line-height * $default-font-size);
        letter-spacing: calc($default-font-size * 1.25 * 0.05);
      }
      input {
        border-radius: 5px;
        border: none;
        background: rgb(38, 38, 38);
        font-size: $default-font-size;
        line-height: calc($default-line-height * $default-font-size);
        letter-spacing: calc($default-font-size * 1.25 * 0.05);
        font-family: var(--font-space-grotesk);
        color: $gray;
        outline: none;
        padding: 10px 7px;
      }
      .leagalCases {
        margin: 20px 0 0 0;
        display: flex;
        gap: 10px;
        p {
          font-size: 9.5px;
          line-height: 9px;
          letter-spacing: 0;
        }
        .custom-checkbox {
          position: relative;
          .checkmark {
            width: 40px;
            height: 40px;
            background-color: $gray;
            display: block;
            border-radius: 5px;
            transition: 0.5s background, 0.2s border ease-in-out;
            background-repeat: no-repeat;
            background-position: center;
          }

          .checkbox {
            position: absolute;
            width: 40px;
            height: 40px;
            opacity: 0;
            cursor: pointer;
            &:checked + .checkmark {
              background-color: #fadc46;
              border: 0;
              background-image: url('../../public/images/33281.png');
              background-size: 30px 30px;
              background-repeat: no-repeat;
              background-position: center;
              animation: roteteAnimation 0.6s;
            }
          }
        }
      }
      .ConfirmButton {
        margin: 20px 0 0 0;
      }
    }
  }
}

@keyframes roteteAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
